/ page title
- @title="CAPE{RT}:LOGIN"
/ page body
%br.sm-show/
%br.sm-show/
.block.bg-darken-4.border.p2
  .absolute-center.title-font.h2.p1.white
    CAPE
    %sup> {RT}
    %span= h(" | Computer-Aided Production Environment")
  .white
    .p1.h4.absolute-center
      =form_tag sessions_path do
        %br.sm-hide/
        = text_field_tag :myid, params[:myid], placeholder: 'MyID', autofocus: '', :class => 'field-light width-200 m1'
        %br.sm-hide/
        %br.sm-hide/
        = password_field_tag :password, nil, :placeholder => 'Password', :class => 'field-light width-200 m1'
        %br/
        %br/
        %input.button.button-blue.absolute-center{:value => "LOGIN", :type => "submit"}/
    .absolute-center.h4.lighter-gray.p1
      %i.fa.fa-lock
      %span#reset_password.lighter-gray.cursor-pointer Reset Password
      \&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      %i.fa.fa-user
      %span#request_account.lighter-gray.cursor-pointer Request New Account
  .left.h5.mt2.dark-gray
    %i.fa.fa-heart-o
    %span= h("Good Hope | ")
    %span#about_popup.cursor-pointer 
      %u About
  .right.h5.mt2.dark-gray
    A NG FabLab Innovation
    %i.fa.fa-rocket
/ Login Options Overlay
= render partial: "login_options"