/ page title
- @title="CAPE{RT}:Authoring"
/ page body
.clearfix.step-fade.fixed.full-width.z3

.clearfix.top-0.bg-mid-gray.white.px1.fixed.z4
	.table.table-fixed
		.table-cell.left-align.h3.italic
			%span.sm-show
				%i.fa.fa-plus-square
				%i.fa.fa-folder-open
			%span.sm-hide 
				%i.fa.fa-align-justify
		.table-cell.center.h4.bold
			SANDBOX 1
			%span.md-show= h(" | Authoring")
			%span.cursor-pointer.workbench-menu
				%i.fa.fa-th
		.table-cell.right-align.h4
			= render partial: "user_menu"

%br/
%br/
#sortable.block.clearfix.absolute-center
	.step.relative.border.authoring-step.m1.bg-white
		#step-number.table-cell.p1.mid-gray
			%span.fa-stack.fa-2x
				%i.fa.fa-circle-thin.fa-stack-2x
				%strong.fa-stack-1x
					1
		#step-content.table-cell.p1
			%samp
				%textarea.step{:cols => "70", :class => "step-content"}= "Conduct a pre-task crew briefing discussing the procedure that will be performed which should include crew assignments, overall goal, precautionary measures, and possible hazardous situations. A briefing shall be performed at the beginning of each day, crew shift, or at any time that requires careful attention, whether for a single person or with the entire operations group. Verify instructions are clear and all personel understand the tasks at hand."
		.rotate-icon.absolute.mid-gray
			%i.fa.fa-rotate-left
		.sortable-arrow.absolute.mid-gray
			%i.fa.fa-arrows-v
	.step.relative.border.authoring-step.m1.bg-white
		#step-number.table-cell.p1.mid-gray
			%span.fa-stack.fa-2x
				%i.fa.fa-circle-thin.fa-stack-2x
				%strong.fa-stack-1x
					2
		#step-content.table-cell.p1
			%samp
				%textarea.step{:cols => "70", :class => "step-content"}= "Conduct a pre-task crew briefing discussing the procedure that will be performed which should include crew assignments, overall goal, precautionary measures, and possible hazardous situations. A briefing shall be performed at the beginning of each day, crew shift, or at any time that requires careful attention, whether for a single person or with the entire operations group. Verify instructions are clear and all personel understand the tasks at hand."
		.rotate-icon.absolute.mid-gray
			%i.fa.fa-rotate-left
		.sortable-arrow.absolute.mid-gray
			%i.fa.fa-arrows-v
	.step.relative.border.authoring-step.m1.bg-white
		#step-number.table-cell.p1.mid-gray
			%span.fa-stack.fa-2x
				%i.fa.fa-circle-thin.fa-stack-2x
				%strong.fa-stack-1x
					3
		#step-content.table-cell.p1
			%samp
				%textarea.step{:cols => "70", :class => "step-content"}= "Conduct a pre-task crew briefing discussing the procedure that will be performed which should include crew assignments, overall goal, precautionary measures, and possible hazardous situations. A briefing shall be performed at the beginning of each day, crew shift, or at any time that requires careful attention, whether for a single person or with the entire operations group. Verify instructions are clear and all personel understand the tasks at hand."
		.rotate-icon.absolute.mid-gray
			%i.fa.fa-rotate-left
		.sortable-arrow.absolute.mid-gray
			%i.fa.fa-arrows-v
	.step.relative.border.authoring-step.m1.bg-white
		#step-number.table-cell.p1.mid-gray
			%span.fa-stack.fa-2x
				%i.fa.fa-circle-thin.fa-stack-2x
				%strong.fa-stack-1x
					4
		#step-content.table-cell.p1
			%samp
				%textarea.step{:cols => "70", :class => "step-content"}= "Conduct a pre-task crew briefing discussing the procedure that will be performed which should include crew assignments, overall goal, precautionary measures, and possible hazardous situations. A briefing shall be performed at the beginning of each day, crew shift, or at any time that requires careful attention, whether for a single person or with the entire operations group. Verify instructions are clear and all personel understand the tasks at hand."
		.rotate-icon.absolute.mid-gray
			%i.fa.fa-rotate-left
		.sortable-arrow.absolute.mid-gray
			%i.fa.fa-arrows-v


= render partial: "workbench_menu"